@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --main-bg-color: #0a1930;
  --heading-text-color: #ecf1f7;
  --small-text-color: #c0c5d0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  color: var(--small-text-color);
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  /* change this maybe to something better */
  max-width: 1200px;
}

ul {
  /* list-style-position: inside;
     this is a possible solution to indenting bullet points,
     however when text wraps to a new line it looks worse
  */
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: rgb(32 122 226);
}

/* heading classes */

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
}

.full-name {
  color: var(--heading-text-color);
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #fff;
  color: var(--main-bg-color);
  border-radius: 15px;
  padding: 5px 11px;
  margin-right: 5px;
  font-weight: bold;
  margin: 15px;
}

.resume {
  padding: 5px 25px;
  margin-right: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

/* about me */

.aboutme-tech-stack-wrapper {
  padding: 20px;
  display: flex;
}

.aboutme {
  color: var(--heading-text-color);
  margin: 16px 0;
  font-size: larger;
  width: 50%;
}

/* tech stack */

.right-column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 50px;
  padding-top: 36px;
  padding-left: 100px;
}
.tech-icon-container {
  display: flex;
  flex-direction: column;
  font-size: small;
  align-items: center;
  justify-content: center;
}

.tech-icon {
  font-size: 48px;
}

p {
  color: #c2cee0;
  margin: 10px 0;
}

/* buttons */

.buttons-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 70px;
  justify-content: center;
}

.years {
  background-color: var(--main-bg-color);
  color: var(--heading-text-color);
  border-radius: 50%;
  padding: 2px 10px;
}

/* projects */

.about {
  color: var(--heading-text-color);
  margin: 16px 0;
  font-size: larger;
}

.project-wrapper {
  margin-top: 50px;
  display: flex;
}

.project-left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.project-right {
  width: 50%;
}

.project-card {
  min-width: 310px;
  width: 500px;
}

.project-card-head {
  background-color: #122541;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-card-body {
  background-color: rgb(24, 23, 23);
}

.project-description {
  display: flex;
  flex-direction: column;
}

.icon-row {
  display: flex;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #182d4c;
  border-radius: 50%;
  padding: 10px;
}

/* current section */

.current {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

/* footer  */

footer {
  padding: 48px 0;
  background-color: #000000;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.scroll-to-top {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #3c3c3c;
  width: 54px;
  height: 54px;
  z-index: 10;
}
.scroll-to-top-container {
  margin-top: 20px;
  margin-bottom: -27px;
  display: flex;
  justify-content: center;
}

.made-by {
  color: #646464;
}

.date {
  text-align: end;
  font-size: smaller;
}

/* util classes */

.ml200 {
  margin-left: 200px;
}

.mb18 {
  margin-bottom: 18px;
}

.mt {
  margin-top: 16px;
}

.mb {
  margin-bottom: 16px;
}

.m5 {
  margin: 5px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb36 {
  margin-bottom: 36px;
}

.mt20 {
  margin-top: 20px;
}

.white {
  color: white;
}

/* On screens that are 1100px or less */
@media screen and (max-width: 1100px) {
  .project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .current-wrapper {
    display: flex;
    justify-content: center;
  }

  .current {
    padding: 0px;
  }

  .ml200 {
    display: none;
  }

  .project-right {
    margin-top: 24px;
  }
}

/* On screens that are 900px or less */
@media screen and (max-width: 900px) {
  .aboutme-tech-stack-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .tech-stack {
    padding-left: 0px;
  }

  .aboutme {
    width: 75%;
  }

  .buttons-container {
    flex-wrap: wrap;
  }
}

/* On screens that are 700px or less */
@media screen and (max-width: 700px) {
  .heading {
    flex-direction: column;
    align-items: center;
  }
  .full-name {
    font-size: 3.5em;
  }

  .sticky {
    position: unset;
  }
}

@media screen and (max-width: 550px) {
  .lgr {
    font-size: larger;
  }

  .lg {
    font-size: large;
  }

  .project-card {
    width: unset;
  }

  .project-right {
    width: 70%;
  }

  .current {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .buttons-container {
    font-size: x-small;
  }
}
